<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
	   <dict>
		   <key>assets</key>
		   <array>
			   <dict>
				   <key>kind</key>
				   <string>software-package</string>
				   <key>url</key>
				   <string>https://dl.dropboxusercontent.com/s/vfk4ouvmk4jn9gk/payload%20%281%29.ipa?dl=0</string>
			   </dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://i.top4top.io/p_176477sir1.png</string>
				</dict>
			   <dict>
				   <key>kind</key>
				   <string>display-image</string>
				   <key>needs-shine</key>
				   <true/>
				   <key>url</key>
				   <string>https://i.top4top.io/p_176477sir1.png</string>
			   </dict>
		   </array><key>metadata</key>
		   <dict>
			   <key>bundle-identifier</key>
			   <string>science.xnu.undecimus</string>
			   <key>bundle-version</key>
			   <string>5.3.1</string>
			   <key>kind</key>
			   <string>software</string>
			   <key>subtitle</key>
			   <string>同步网络</string>
			   <key>title</key>
			   <string>
 PM>ArabFelex

    شهآدهٓ انگفر مجانيهٓ 

محمد المعجل 🎖 عثمآن


         </string>
		   </dict>
	   </dict>
   </array>
</dict>
</plist>
